<nav class="breadcrumb">
    <span class="breadcrumb-item active">Home</span>
</nav>

<div class="container">
    <div class="row justify-content-end">
        <h5>Overall Projects {{project_count}}</h5>
    </div>
		<p>{{project.owner}}</p>
</div>

<div class="row mt-3">
    {{#each data}}
        <div class="col-sm-4">
            <a class="card mt-3" style="width: 20rem;color: #333;text-decoration : none" href="/{{address}}/detail">
                <div class="card-block">
                    <h4 class="card-title">{{title}}</h4>
					<div class="id-tile">
					  <div style="width: 30px; background-color: {{coloredAddress.x0}}"></div>
					  <div style="background-color: {{coloredAddress.x1}}; left: 10px"></div>
					  <div style="width: 30px; background-color: {{coloredAddress.x2}}; top: 10px"></div>
					  <div style="background-color: {{coloredAddress.x3}}; left: 10px; top: 10px"></div>
					  <div style="width: 30px; background-color: {{coloredAddress.x4}}; top: 20px"></div>
					  <div style="background-color: {{coloredAddress.x5}}; left: 10px; top: 20px"></div>
					  <div style="background-color: {{coloredAddress.x6}}; left: 20px; top: 20px"></div>
					</div>
                    <p class="card-text">{{description}}</p>
                </div>
                <ul class="list-group list-group-flush">
					<li class="list-group-item">Owner:&nbsp;
						<div class="id-tile">
						  <div style="width: 30px; background-color: {{coloredOwner.x0}}"></div>
						  <div style="background-color: {{coloredOwner.x1}}; left: 10px"></div>
						  <div style="width: 30px; background-color: {{coloredOwner.x2}}; top: 10px"></div>
						  <div style="background-color: {{coloredOwner.x3}}; left: 10px; top: 10px"></div>
						  <div style="width: 30px; background-color: {{coloredOwner.x4}}; top: 20px"></div>
						  <div style="background-color: {{coloredOwner.x5}}; left: 10px; top: 20px"></div>
						  <div style="background-color: {{coloredOwner.x6}}; left: 20px; top: 20px"></div>
						</div>
					</li>
                    <li class="list-group-item">Stage &nbsp;<span class="badge badge-primary">{{stage}}</li>
                    <li class="list-group-item">Current Funding:&nbsp;{{currentFunding}}</li>
                    <li class="list-group-item">Required Funding:&nbsp;{{fundingGoal}}</li>
                    {{#if fundingGoalReached}}
                        <li class="list-group-item">Funding &nbsp; <span class="badge badge-success">SUCCESSFULLY</span></li>
                    {{else}}
                        <li class="list-group-item">Funding &nbsp; <span class="badge badge-success">PENDING</span></li>
                    {{/if}}
                </ul>
            </a>
        </div>
    {{/each}}
</div>

