<div class="container">
    <div class="row justify-content-end">
        <a href="/myprojects/createProject" class="btn btn-primary btn-sm pull-right" role="button"><span class="fa fa-edit"></span> Create Project</a>
    </div>
        {{#if data}}
        <div class="row mt-3">
        {{#each data}}
        <div class="col-sm-4">
            <div class="card" style="width: 20rem;">
                <div class="card-block">
                    <h4 class="card-title">{{title}}</h4>
                    <p class="card-text">{{description}}</p>
                    <p class="card-subtitle">Stage: {{stage}}</p>
                    <p class="card-subtitle">Current Funding: {{currentFunding}}</p>
                    <p class="card-subtitle">Required Funding:{{fundingGoal}}</p>
                    <p class="card-subtitle">Goal Reached: {{fundingGoalReached}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
        {{else}}
            <p class="alert alert-warning">You do not have any Projects.</p>
        {{/if}}
</div>